.rst-content dl dd, p {
    text-align: justify;
}
.wy-table caption, .rst-content table.docutils caption,
.rst-content table.field-list caption {
    text-align: left;
}
.wy-nav-content {
    max-width: 1050px
}
